.top {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
  padding: 3rem;
  /* margin-bottom: '1rem'; */
  /* background:rgb(240, 226, 228); */
}

.top .img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.top .img:hover {
  transform: scale(1.1);
}

/* Add responsive styles */
@media only screen and (max-width: 768px) {
  .top {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}
